/* -- :: Header */
header {
  background: -webkit-gradient(linear, left top, right top, from(var(--thBlue)), to(var(--thBlue2)));
  background: linear-gradient(to right, var(--thBlue), var(--thBlue2));
}
header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
/* ------------------------------- */

/* -- :: Section I */
.se-i ul li:not(:last-child) {
  margin-bottom: 30px;
}
.se-i ul li h5 {
  font-size: 20px;
  color: var(--thBlack);
  font-weight: bold;
}
.se-i ul li p {
  font-size: 14px;
  color: var(--thGray);
  margin-bottom: 10px;
}
.se-i ul li p:last-child {
  margin-bottom: 0;
}
/* ------------------------------- */

/* -- :: Media Query */
@media (max-width: 767.98px) {
  /* -- :: Header */
  header h1 {
    font-size: 32px;
  }
}
/* ------------------------------- */